{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div class="container">
    Ceci est la page d'accueil... on y fait rien !!<br>
</div>
{% endblock %}
